body {
  background-color: purple;
}

.img-container {
  width: 480px;
}

.card img{
  width: 160px;
  height: 170px;
  margin-right: 50px;
  margin-left: 50px;
}
.App {
  text-align: center;
}

.banner {
  width: 100%;
}

li {
  display: inline-block;
  padding: 5px 5px 2px 20px;
}




